.footer {
  position: relative;
  background-image: url(../../../public/img/bg-home.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
}

.container .row {
  color: aliceblue;
  font-family: sans-serif;
}
